* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,
        Helvetica,
        sans-serif;

}






.list {
    width: 100%;

}

.list .list-item {
    width: 600px;
    height: 50px;
    border: 1px solid #9CA3AF;
    list-style: none;
    border-radius: 5px;
    ;
    margin: 1rem;
    text-align: center;
    background: #D1D5DB;
}

.list .list-item:hover {
    box-shadow: 5px 10px 8px #888888;
}


.list .list-item-stacked {
    width: 600px;
    height: 50px;
    border: 0.1px solid #9CA3AF;
    list-style: none;
    border-radius: 5px;
    text-align: center;
    background: #D1D5DB;
}

.list .list-item-stacked:hover {
    box-shadow: 2px 5px 4px #888888;
}



.modal {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 400px;
    /* display: none; */

    /* Full width */

    /* Full height */
}

.card-prd-horz {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* width: 500px; */
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    max-height: 400px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
}

.card-prd-horz .price {
    color: grey;
    font-size: 22px;
}

.card-prd-horz:hover {
    box-shadow: 5px 10px 8px #888888;
}

.card-prd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 20%;
    margin: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
    font-family: arial;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.card-prd:hover {
    box-shadow: 5px 10px 8px #888888;
}

.card-prd .price {
    color: grey;
    font-size: 22px;
}

.card-prd .card-badge {
    position: absolute;
    top: 20px;
    left: 0;
    color: white;
    background: #DC2626;
    width: 50px;
}

.card-prd .card-bdg-wish {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}



.card-prd .card-bdg-wish .icon {
    font-size: 25px;
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    color: #9ca3af;
}

.card-prd .card-bdg-wish .icon:hover {

    background-color: #D1D5DB;

}



.card-prd .card-badge-text {
    position: absolute;
    top: 40px;
    left: 0;
    color: white;

}



.sidenav {
    width: 25%;
    height: 100vh;
    background-color: #E5E7EB;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    /* color: black; */
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    justify-content: space-evenly;
}

.sidenav a {
    /* margin: 2rem; */
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;

}

.sidenav a:hover {
    color: #2563EB;
}


/* Style page content */
.main {
    margin-left: 20%;
    /* Same as the width of the sidebar */
    padding: 5rem 0px;
    /* border: 1px solid black; */
    /* margin-top: 3rem; */
}


.sidenav .home-link {
    color: blue;
    margin: 0.5rem;
}


.container {
    margin-left: 20%;
    /* border:1px solid black; */
    /* display: flex; */
    /* text-align: center; */
    /* align-items: center; */
    /* height: 100vh; */


}

.cont-index {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    height: 100vh;
    background-image: url('https://blog.creatopy.com/wp-content/uploads/2020/04/Poster-Examples.png');
    color: #DC2626;
    font-weight: bold;
    font-size: 20px;
    /* border: 1px solid red; */
}

.cont-index .cont-head {
    /* justify-content: flex-start; */
    margin-left: 4rem;
    margin-top: 2rem;
    ;
    /* background: white; */
    width: fit-content;
    border-radius: 0.5rem;
}



.cont-ele {
    margin-top: 2rem;
    border: 1px solid #9CA3AF;
    border-radius: 1rem;
    padding: 4rem;
    width: 80%;
}

.cont-ele-link {
    margin-top: 0.5rem;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    background: #3B82F6;
    position: sticky;
    top: 0;
    justify-content: space-around;
    height: 5rem;
    align-items: center;


}

.navbar .navbar-itm-rgt {

    display: flex;

}

.navbar .navbar-txtbx {

    width: 300px;
    height: 40px;
    padding: 1rem 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    outline: none
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #3B82F6;
}


.input-container {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.input-text {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}



.primary-alert {
    background: #BFDBFE;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.primary-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}

.secondary-alert {
    background: #E5E7EB;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.secondary-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.warning-alert {
    background: #FDE68A;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.warning-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.success-alert {
    background: #A7F3D0;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.success-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.danger-alert {
    background: #FECACA;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.danger-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.avatar-bdg {
    background-color: #555;
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}



.avatar-bdg .badge-online {
    position: absolute;
    bottom: 0px;
    right: 10px;
    /* padding: 5px 10px; */
    border-radius: 50%;
    background: #10B981;
    color: white;
    height: 1rem;
    width: 1rem
}

.avatar-bdg .badge-busy {
    position: absolute;
    bottom: 0px;
    right: 10px;
    /* padding: 5px 10px; */
    border-radius: 50%;
    background: #DC2626;
    color: white;
    height: 1rem;
    width: 1rem
}

.avatar-bdg .badge-offline {
    position: absolute;
    bottom: 0px;
    right: 10px;
    /* padding: 5px 10px; */
    border-radius: 50%;
    background: #9CA3AF;
    color: white;
    height: 1rem;
    width: 1rem
}


.avatarImage-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatarImage-medium {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.avatarImage-large {
    width: 100px;
    height: 130px;
    border-radius: 50%;
}



.rating {
    background-color: #059669;
    color: white;
    border: 1px solid #059669;

    font-weight: bold;
}

.primary-button {
    background: #3B82F6;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;
    outline: none;

}

.card-prd .card-img {
    width: 100%;
    height: auto
}


.card-btn {
    background: #3B82F6;
    color: #fff;
    width: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;
    outline: none;

}


.primary-button:hover {
    background-color: #2563EB;
}

.secondary-button {
    background: #6B7280;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.warning-button {
    background: #FBBF24;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.success-button {
    background: #059669;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.danger-button {
    background: #DC2626;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}



.link-button {
    background: #3B82F6;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    padding: 8px 40px;
    border: none;
    text-decoration: none;
    font-family: "Sofia",
        sans-serif;
    /* height: 35px; */
    margin: 5px;
}








/* .container{
    background-color: turquoise;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: row;
} */
.card {

    border: 1px solid black;
    padding: 1rem;

}

.flex1 {
    flex-grow: 1
}

.flex2 {
    flex-grow: 1
}

.flex3 {
    flex-grow: 0.2
}

/* Use FLEX in Container 
Then Use Justify-Content to adjust Items Horizontly 
Use Align Items to Adjust Items Vertically  

FLEX WRAP is also useful - Check it out
*/


/* - Align items is `stretch` by default. - Other options are `stretch|center|flex-start|flex-end|baseline|` - Now,
alignment can be controlled from both parent and child - Parent: `align-items: center` - Child: `align-self: auto|stretch|center|flex-start|flex-end|baseline|` */

.container2 {
    background-color: yellow;
    display: flex;
    /* justify-content: flex-end;
    justify-content: flex-start;
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content:center; */
    /* align-items:flex-start; */
    align-items: center;
    height: 60vh;
    border: 1px solid red;
}

.card2 {
    width: 30%;
    border: 1px solid black;
    padding: 2rem;
    background: rgb(117, 86, 228);
    /* align-self: center; */
}

.card3 {
    align-self: flex-end;
}

@media(max-width:700px) {
    .container2 {
        display: flex;
        flex-direction: column;
        background: rgb(20, 220, 127);
        justify-content: flex-start;
        align-items: center;

    }

    .card2 {
        width: 100%;
    }

}

.cont-card {
    border: 1px solid black;
    width: 20%;
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;

}

.cont-card2 {
    border: 1px solid black;
    width: 20%;
    height: 700px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;

}



/* POSITION : STATIC (Default ), Absolute , Realtive, FIXED , STICKY  */

/* Static - Normal Position */
/* Relative - Move top/right/bottom/left Relative to its Normal/Original position  */
/* Absolute - Move top/right/bottom/left Relative to its PARENT(Body/Container) position  */
/* Fixed: Postion remain Fixed relative to the Brower Window */
/* Sticky :  */