* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    background: #8B5CF6;
    position: sticky;
    top: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #6D28D9;
}


.input-container {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.input-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}



.primary-alert {
    background: #BFDBFE;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.primary-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}

.secondary-alert {
    background: #E5E7EB;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.secondary-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.warning-alert {
    background: #FDE68A;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.warning-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.success-alert {
    background: #A7F3D0;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.success-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}


.danger-alert {
    background: #FECACA;
    padding: 10px;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
}

.danger-alert p {
    margin: auto auto;
    padding: 2px 2px;
    font-size: 1rem;

}




.avatarImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.primary-button {
    background: #3B82F6;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.primary-button:hover {
    background-color: #2563EB;
}

.secondary-button {
    background: #6B7280;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.warning-button {
    background: #FBBF24;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.success-button {
    background: #059669;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.danger-button {
    background: #DC2626;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
    height: 35px;
    padding: 5px 40px;
    font-family: "Sofia",
        sans-serif;

}

.link-button {
    background: #3B82F6;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    padding: 8px 40px;
    border: none;
    text-decoration: none;
    font-family: "Sofia",
        sans-serif;


}








.container {
    background-color: turquoise;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: row;
}

.card {

    border: 1px solid black;
    padding: 1rem;

}

.flex1 {
    flex-grow: 1
}

.flex2 {
    flex-grow: 1
}

.flex3 {
    flex-grow: 0.2
}

/* Use FLEX in Container 
Then Use Justify-Content to adjust Items Horizontly 
Use Align Items to Adjust Items Vertically  

FLEX WRAP is also useful - Check it out
*/


/* - Align items is `stretch` by default. - Other options are `stretch|center|flex-start|flex-end|baseline|` - Now,
alignment can be controlled from both parent and child - Parent: `align-items: center` - Child: `align-self: auto|stretch|center|flex-start|flex-end|baseline|` */

.container2 {
    background-color: yellow;
    display: flex;
    /* justify-content: flex-end;
    justify-content: flex-start;
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content:center; */
    /* align-items:flex-start; */
    align-items: center;
    height: 60vh;
    border: 1px solid red;
}

.card2 {
    width: 30%;
    border: 1px solid black;
    padding: 2rem;
    background: rgb(117, 86, 228);
    /* align-self: center; */
}

.card3 {
    align-self: flex-end;
}

@media(max-width:700px) {
    .container2 {
        display: flex;
        flex-direction: column;
        background: rgb(20, 220, 127);
        justify-content: flex-start;
        align-items: center;

    }

    .card2 {
        width: 100%;
    }

}

.cont-card {
    border: 1px solid black;
    width: 20%;
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;

}

.cont-card2 {
    border: 1px solid black;
    width: 20%;
    height: 700px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;

}



/* POSITION : STATIC (Default ), Absolute , Realtive, FIXED , STICKY  */

/* Static - Normal Position */
/* Relative - Move top/right/bottom/left Relative to its Normal/Original position  */
/* Absolute - Move top/right/bottom/left Relative to its PARENT(Body/Container) position  */
/* Fixed: Postion remain Fixed relative to the Brower Window */
/* Sticky :  */